{% extends "base.html" %}
{% block content %}


<div class="shadow-lg bg-light p-3 mb-0 rounded-3" style="margin-top: 40px;">
    <form class="form-group" method="POST">
        {{ form.hidden_tag() }}
        {{ form.title(class="title form-control fw-bold text-center", style="color: #0d6efd;", rows=5, placeholder="Question Title") }} <br>
        {{ form.question(class="question form-control", rows=5, placeholder="Type your question here", style="margin-top: 5px;")}} <br>
        {{ form.submit(class="btn btn-success", style="margin-top: 10px;")}}
    </form>    
    </div>
</div>

{% endblock %}