{% extends "base.html" %}
{% block content %}

<div class="shadow p-3 mb-0 rounded-3" style="margin: 40px; background-color: #aaddf7;">
    <form class="form-group" method="POST" style="display: inline;">
        {{ form.hidden_tag() }}
        {{ form.title(class="form-control fw-bold fs-3 text-center", style="color: #0d6efd;", rows=5) }} <br>
        {{ form.question(class="form-control fs-5", rows=5) }} <br>
        {{ form.submit(class="btn btn-warning", style="margin-top: 10px")}}
        
    </form> 
    <button class="btn btn-danger" style="margin-top: 10px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Delete
    </button>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently delete this question?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('delete_question', id=question.id) }} ">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
    </div>
  </div>
  
{% endblock %}