{% extends "base.html" %}
{% block content %}

<div class="shadow-sm p-3 mb-0 rounded-3 position-absolute top-50 start-50 translate-middle" style=" background-color: #aaddf7;">
    
    <form class="container-fluid" method="POST"><h3 class="text-center">Password reset form</h3>
        {{ form.hidden_tag() }}
        {{ form.email(class="login", placeholder="Email", style="margin-top: 10px; margin-bottom: 10px;")}} <br>
        <a id="forgot-pwd" href="{{ url_for('register') }}">Forgot password?</a> <br>
        {{ form.submit(id="login", class="btn btn-success", style="width: 300px;")}}
    </form>    
</div>

{% endblock %}