{% if form.errors.items() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for error in form.errors.values() %}
            {{ ''.join(error) }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% extends "base.html" %}
{% block content %}


<div class="center">
    <form method="POST" class="row g-3">
        {{ form.hidden_tag() }}
        <div class="col-md-6">
            <span class="form-label">{{ form.fname.label }}</span>
            {{ form.fname(class="form-control", placeholder="First Name")}}
        </div>
        <div class="col-md-6">
            <span class="form-label">{{ form.lname.label }}</span>
            {{ form.lname(class="form-control", placeholder="Last Name")}}
        </div>

        <div class="col-12">
            <span class="form-label">{{ form.email.label }}</span>
            {{ form.email(class="form-control", placeholder="Email")}}
        </div>

        <div class="col-md-6">
            <span class="form-label">{{ form.password.label }}</span>
            {{ form.password(class="form-control", placeholder="Password")}}
        </div>
        <div class="col-md-6">
            <span class="form-label">{{ form.pass_conf.label }}</span>
            {{ form.pass_conf(class="form-control", placeholder="Confirm Password")}}
        </div>

        {{ form.submit(class="btn btn-success", placeholder="Confirm Password", style="margin-left: 8px;")}}
        


    </form>
</div>


{% endblock %}