.login {
    width: 300px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    height: calc(3.5rem + 2px);
}


#remember {
    width: auto;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#forgot-pwd {
    margin-left: 40px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-margin-right {
  margin-right: 5px;
}

/* Separates the 'Search' and 'Logout' Buttons */
.btn-margin-right {
  margin-right: 5px;
}


.resolve {
background-color: transparent;
border:none;
float: right;
margin-right: -35px;
margin-top: -10px;
margin-bottom: 15px;
}
