.cred {
    width: 300px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    height: calc(3.5rem + 2px);
}

#remember {
    width: auto;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#forgot-pwd {
    margin-left: 35px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.resolve {
  background-color: transparent;
  border: none;
  padding: 3px;
  padding-top: 0px;
  margin-bottom: 10px;
  margin-top: -3px;
  }

.title .question .answer {
  word-wrap: break-word !important;
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem !important;
  }
  .question {
    font-size: 1.5rem !important;
  }
  .answer {
    color: rgb(68, 0, 255);
    font-size: 1.25rem;
  }
  .jumbo {
    padding: 3rem !important;
  }

}

@media (max-width: 768px) {
  .title {
    font-size: 1rem !important;
  }
  .question {
    font-size: 1rem !important;
  }
  .answer {
    color: rgb(68, 0, 255);
    font-size: 1rem;
  }
  .jumbo {
    padding-top: 2rem;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }

  .title .question .answer {
    font-family: 'Droid Sans'!important
  }
}



.btn-margin-right {
  margin-right: 5px;
}

/* Separates the 'Search' and 'Logout' Buttons */
.btn-margin-right {
  margin-right: 5px;
}



